.buildvenv/
.venv/
venv/
env/
build/
dist/
__pycache__/
*.py[cod]
*.pyo
*.pyd

*.zip
*.7z
*.rar
*.log
~$*

output/
downloads/
batch_summary.csv
batch_summary_translated.csv
summary.csv

v1.0/.buildvenv/
v1.0/build/
v1.0/dist/
v1.0/__pycache__/
v1.0/gui/__pycache__/

v1.2/build/
v1.2/dist/
v1.2/__pycache__/
v1.2/gui/__pycache__/

.DS_Store
Thumbs.db
.vscode/
tempCodeRunnerFile.*
